
@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS13-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS13-ExtendedHeavyItalic.ttf') format('truetype');
}
